{% extends "layout.html" %}

{% block title %}
    Create Note
{% endblock %}

{% block main %}
<link
    <h1>New Note</h1>
    <h2>{{ name }}</h2>
    <br>
    <br>
    <p>explain what to do</p>

    <!-- insert track image -->
    <img src="{{ link }}" class="img-fluid" alt="{{ name }} ">
    <!-- add input, event, date, bike -->
    <br class="lg">
        <form method="post" action ="/success">
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">Event</span>
                <span>
                    <input name="event" type="text" class="form-control" value="{{ event }}" readOnly="true">
                </span>
                <span class="input-group-text" id="addon-wrapping">Date</span>
                <span>
                    <input name="date" type="text" class="form-control" value="{{ date }}" readOnly="true">
                </span>
                <span class="input-group-text" id="addon-wrapping">Bike</span>
                <span>
                    <input name="bike" type="text" class="form-control" value="{{ bike }}" readOnly="true">
                    <button formaction = "{{ url_for('edit', toedit = "main") }}" method = "post"> Edit</button>
                </span>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-text">General notes</span>
                <textarea name="general_notes" class="form-control" aria-label="General notes" readOnly="true">{{ general }}</textarea>
            </div>
            <!-- notes -->
            {% if notes_list == None %}
                <p> No notes </p>
            {% else %}
                {% for note in notes_list %}
                <div>
                    <span class="input-group-text text-center">
                        <!-- hidden input to get the position value -->
                        <input type = position name="position_{{note.list_notes_id}}" aria-label="With textarea" value="{{ note["position"] }}" readOnly="true" hidden>
                        {{ note["position"] }}
                        <span>
                            <button onclick="return confirm('Do you want to delete this note?');" class="btn btn-danger" method ="post" formaction="{{ url_for('delete', list_notes_id = note.list_notes_id) }}">Delete</button>
                            <button class="btn btn-primary" method ="post" formaction="{{ url_for('edit', toedit = note.list_notes_id) }}">Edit</button>
                        </span>                     
                    </span>
                    <input name="{{note.list_notes_id}}" class="form-control text-center" aria-label="With textarea" value="{{ note['note'] }}" readOnly="true">
                </div>
                {% endfor %}
            {% endif %}
            <div id="show_item">
                <div class="input-group mb-3">
                    <span class="input-group-text">Position</span>
                    <input name="position" type="text" class="form-control" placeholder="Turn 1">
                    <span class="input-group-text">Note</span>
                    <textarea name="newnote" class="form-control"></textarea>
                </div>
            </div>
            <div><button type ="submit" formaction="{{ url_for('add') }}" method="post" class="btn btn-success add_item_btn mb-3">Add More</button></div>
            <div><button type="submit" class="btn btn-primary">Submit Note</button></div>
        </form>
{% endblock %}
