{% extends "layout.html" %}

{% block title %}
    My Note
{% endblock %}

{% block main %}
        <h3>My notes</h3>
        {% if not all_notes %}
        <br>
        <p class="text-danger">No notes yet</p>
        <a href="/">Create a new Note</a>
        {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>
                       Track Name
                    <th>
                        Event
                    </th>
                    <th>
                        Bike
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for note in all_notes %}
                <tr>
                    <td>{{ note["track_name"] }}</td>
                    <td>{{ note["event"] }}</td>
                    <td>{{ note["bike"] }}</td>
                    <td>{{ note["date"] }}</td>
                    <td>
                        <form action="{{ url_for('view', note_id = note['notes_id'] )}}" method="post">
                            <button type="submit">View</button>
                        </form>
                    </td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
{% endblock %}
