{% extends "layout.html" %}

{% block title %}
    View Note
{% endblock %}

{% block main %}
<link
    <h1>New Note</h1>
    <h2>{{ name }}</h2>
    <br>
    <br>
    <p>explain what to do</p>

    <!-- insert track image -->
    <img src="{{ link }}" class="img-fluid" alt="{{ name }} ">
    <!-- add input, event, date, bike -->
    <br class="lg">
        <form method="get" action="{{ url_for('createnote') }}">
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">Event</span>
                <span>
                    <input name="event" type="text" class="form-control" value="{{ event }}" disabled>
                </span>
                <span class="input-group-text" id="addon-wrapping" required>Date</span>
                <span>
                    <input name="event" type="text" class="form-control" value="{{ date }}" disabled> 
                </span>
                <span class="input-group-text" id="addon-wrapping">Bike</span>
                <span>
                    <input name="bike" type="text" class="form-control" value="{{ bike }}" disabled>
                </span>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-text">General notes</span>
                <textarea name="general_notes" class="form-control" aria-label="General notes" disabled>{{ general }}</textarea>
            </div>
            <!-- notes -->
            {% if notes_list == None %}
                <p> No notes </p>
            {% else %}
                {% for note in notes_list %}
                <div>
                    <span class="input-group-text text-center">
                        {{ note["position"] }}                    
                    </span>
                    <input name="note" class="form-control text-center" aria-label="With textarea" value="{{ note['note'] }}" disabled>
                </div>
                {% endfor %}
            {% endif %}
            <div>
                <button type ="submit" class="btn btn-success">Edit</button>
                <button formaction ="{{ url_for('deletenote', note_id = note_id) }}" formmethod = "post" class="btn btn-danger" onclick="return confirm('Do you want to delete this note?')">Delete Note</button>
            </div>
        </form>
{% endblock %}
